# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================
.env
venv/
env/

# ==============================
# Django
# ==============================
db.sqlite3
staticfiles/
media/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Your project specific
# ==============================
html files.zip
blog_data.json

# ==============================
# Logs
# ==============================
*.log